[Desktop Entry]
Name=Tux Typing
GenericName=Educational typing game
GenericName[ru]=Игра для детей
GenericName[tr]=Daktilo Öğretmeni
GenericName[fr]=Jeu de dactylographie
GenericName[de]=Tastatur-Lernspiel
Comment=Educational typing tutor game starring Tux
Comment[de]=Tastatur-Lernspielprogramm mit Tux
Comment[ru]=Kлавиатурный тренажер с пингвином в главной роли
Comment[tr]=Daktilo Öğretmeni
Comment[fr]=Apprenez à taper au clavier avec Tux
Exec=tuxtype
Icon=tuxtype
Terminal=false
Type=Application
StartupNotify=true
Categories=Education;
X-Ubuntu-Gettext-Domain=tuxtype
